.section{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card{
  width: clamp(310px, 60%, 492px);
  border: 1px solid white;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.containerCard{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image{
  width: 37px;
  height: 35px;
}