.section{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card{
  width: 100%;
  border: 1px solid white;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.containerCard{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image{
  width: 37px;
  height: 35px;
}

@media (min-width: 800px)
{
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }  
  .card{
    width: clamp(253px, 47%, 492px);
  }
}

@media (min-width: 1000px)
{
  .card{
    width: clamp(253px, 49%, 492px);
  }
}